html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.shop_header {
  background: linear-gradient(to bottom,  #9e0000 1%,#d82d2d 100%);
  color: #ECF0F1;
  box-shadow: 0px 1px 9px 1px #777777;
}

.shop_header a {
  text-decoration: none;
}

.shop_logo {
  float: left;
  margin: 3px 0 0 10px;
}

.shop_logo img {
  height: 40px;
}

.shop_nav {
  float: right;
  width: 500px;
}

.shop_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shop_nav .shop_main_menu {
  float: left;
}

.shop_nav .shop_main_menu li {
  float: left;
}

.shop_nav .shop_main_menu li a {
  display: block;
  padding: 15px 10px;
  color: #ECF0F1;
  transition: all 0.4s;
}

.shop_nav .shop_main_menu li a:hover {
  background-color: #ECF0F1;
  color: #C0392B;
}

.shop_nav .shop_user_box {
  float: right;
  margin-right: 10px;
}

.shop_nav .shop_user_box li {
  float: left;
}

.shop_nav .shop_user_box li a {
  display: block;
  padding: 15px 10px;
  color: #ECF0F1;
  transition: all 0.4s;
}

.shop_nav .shop_user_box li a:hover {
  background-color: #ECF0F1;
  color: #C0392B;
}

.shop_search {
  float: left;
  margin-left: 30px;
  margin-top: 12px;
}

.shop_search .s_input {
  padding: 5px 5px;
  outline: none;
  border: none;
  width: 270px;
  border-radius: 3px 0 0 3px;
}

.shop_search .s_btn {
  padding: 5px 12px;
  outline: none;
  border: none;
  position: relative;
  left: -4px;
  background-color: #ec8686;
  color: #fff;
  border-radius: 0 3px 3px 0;
  transition: all 0.4s;
}

.shop_search .s_btn:hover {
  cursor: pointer;
  background-color: #f1d4d4;
  color: rgb(112, 9, 9);
}

.banner {
  width: 100%;
  height: 200px;
  background: url("./images/banner.jpeg") no-repeat;
  background-size: cover;
}

.head-section {
  width: 200px;
  border-bottom: 1px solid tomato;
  margin: 40px auto;
}
.head-section h1 {
  font-size: 24px;
  text-align: center;
  padding: 2px 0;
  margin: 0;
  color: #555555;
}

.container {
  width: 912px;
  margin: 0 auto;
}

.cart {
  width: 295px;
  background-color: #fff;
  border-radius: 3px;
  float: left;
  margin: 15px 4px;
  transition: all 0.3s;
  height: 400px;
}

.cart:hover {
  box-shadow: 3px 3px 9px 0px rgba(74, 74, 74, 0.5);
}

.cart h2 {
  font-size: 18px;
  text-align: center;
}

.cart h2 a {
  color: #C0392B;
  text-decoration: none;
  transition: all 0.2s;
}

.cart h2 a:hover {
  color: #9e0000;
}

.cart .cart-image {
  width: 100%;
}

.cart .cart-image img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.cart .cart-body {
  padding: 6px;
}

.clearfix {
  clear: both;
}